package data

import "fmt"

css brokenContentCss() {
	background-color: #FF0000AA;
}

templ brokenContent(c *Content, err error) {
	<div class={ brokenContentCss() }>
		<h4>Could not render this content:</h4>
		<p>{ err.Error() }</p>
		<p>BlockName: { c.BlockName } </p>
		<p>BlockOpts: { fmt.Sprintf("%v",c.BlockOps) }</p>
		<p>numChildren: { fmt.Sprintf("%d", len(c.Children)) }</p>
		<div>
			<p>children:</p>
			{ children... }
		</div>
	</div>
}
