package blocks

import "github.com/Alan-Daniels/web/internal/blocks/types"

css hello() {
	background-color: teal;
}

templ blockTest(args BlockArgsTest, children []*templ.Component) {
	<p class={ hello() }>Hello { string(args.Name) }!</p>
}

type BlockArgsTest struct {
	Name types.Text `json:"name"`
}

css padd(color types.ColorStyle) {
	padding: 1em;
	background-color: { color };
}

type BlockArgsPadd struct {
	Color types.ColorStyle `json:"color"`
}

templ blockPadd(args BlockArgsPadd, children []*templ.Component) {
	<div class={ padd(args.Color) }>
		for _,c := range children {
			@(*c)
		}
	</div>
}

func init() {
	registerBlock(blockTest)
	registerBlock(blockPadd)
}
