package internal

templ About() {
	@Page() {
		@Title("About me")
		<p class="pt-3">This page is currently still being created.</p>
		<p>
			In the meantime, you can check out 
			@Link(templ.SafeURL("/now")) {
				what I'm doing now
			}
			.
		</p>
	}
}
