package internal

templ About() {
	@Page() {
		@Title("About me")
		<p class="pt-3">This page is currently still being created.</p>
		<p>In the meantime, you can check out <a href="/now" class="text-muave hover:underline">what I'm doing now</a>.</p>
	}
}
